<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>SURFIN</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  </head>
  <body>

    <div class="nav ui fixed borderless menu">
      <div class="header item">
         SURFIN
      </div>
      <a href="#/" class="item">
        SHOP
      </a>
      <a href="#about" class="item">
         ABOUT
      </a>
      <a href="#learn" class="item">
        LEARN
      </a>
    </div>

    <div class="beach">
    </div>

    <div class="ng-view"></div>


    <script src="/lib/app.js"></script>
    <script src="/lib/script.js"></script>
  </body>
</html>
